# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj
inst/doc/
/doc/
/Meta/
/vignettes/*.html
/vignettes/*.R

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build
*.tar.gz
*.zip
audit.csv
audit_signed.csv
logs/
docs
pkgdown